*{
	padding: 0;
	margin: 0;
}
.title1{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
	color: #777;
}
.line{
	margin-top: 6px;
    margin-left: 22px;
	width: 97%;
	border: 0.5px solid #ccc;
}
.table_box{
	margin-top: 10px;
	margin-left: 15%;
   /*  border: 1px solid black; */
}
.t1, .t2, .t3, .t4{
	font-size: 20px;
	font-weight: bolder;
}
.t1{
	margin-left: 35px;
}
.t2{
	margin-left: 110px;
}
.t3{
	margin-left: 260px;
}
.t4{
	margin-left: 210px;
}
.id_box, .id_box2{
	font-size: 16px;
	width:100px;
}
.name_box, .name_box2{
	font-size: 16px;
	width: 250px;
}
.formula_box, .formula_box2{
	width: 400px;
	font-size: 16px;
}
.btn1{
	width: 100px;
}
.myBtn, .btn2{
	width: 50px;
	height: 28px;
}
.del{
	margin-left: 5px;
}
.prompt{
	margin-top: 20px;
	width: 100%;
	height: 300px;
	/* border: 1px solid black; */
}
.prompt_title{
	margin-left: 20px;
	font-size: 25px;
	font-weight: bolder;
}
.prompt_content{
	position: relative;
	mrgin-top: 40px;
	margin-left: 20px;
	width: 1100px;
	height: 210px;
	border: 1px solid #EDF3F4;
	border-radius: 5px;
	background-color: #EDF3F4;
}
.p1{
	margin-left: 30px;
}
.p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13{
	margin-left: 30px;
	font-size: 15px;
	color: purple;
}
.span1{
	float:left;
}
 .span3{
    margin-top: 40px;
	margin-left: 0px;
	display: inline-block;
	float: left;
   
 }
/*.p15{
	color: purple;
}*/
.p16, .p17, .p18, .p19, .p20, .p21{
    color: #336199;
}
.span2{
	position: absolute;
	top: 8px;
	margin-left: 30px;
	display: inline-block;
}
