*{
	padding: 0;
	margin: 0;
}
.all{
    width: 100%;
    height: 100vh;
   /* border: 1px solid black;*/
}
.allTop{
	position: fixed;
	width: 100%;
	height: 43px;
	border: 1px solid transparent;
	background-color: #438eb9;
	z-index: 1;
}
.systemName{
	width: 230px;
	height: 43px;
	/*border: 1px solid black;*/
	font-size: 20px;
	font-weight: bolder;
	color: white;
	text-align: center;
	line-height: 43px;
	margin-left: 15px;
	cursor: pointer;
}
.selectBox{
	position: absolute;
	top: 0;
	right: 221px;
	width: 180px;
	height: 43px;
	/*border: 1px solid black;*/
}
.selectBoxSon1{
	display: none;
}
.selectBoxSon11{
	position: absolute;
	top: 8px;
	width: 140px;
	height: 25px;
	border: 1px solid #6fb3e0;
	border-radius: 6px;
}
.selected4Img{
	position: absolute;
	top: 11px;
	width: 20px;
}
.inputText{
	position: absolute;
	top: 12px;
	left: 20px;
	font-size: 13px;
	color: #757575;
}
.selectBoxSon2{
	position: absolute;
	right: 0;
	width: 30px;
	height: 43px;
	/*border: 1px solid black;*/
	background-color: #777;
}
.selected3Img{
	position: absolute;
	top: 12px;
	left: 5px;
	width: 20px;
}
.line1{
	position: absolute;
	top: 0;
	right: 220px;
	height: 43px;
	border: 0.5px solid #fff;
	width: 0px;
}
.userBox{
	position: absolute;
	right: 20px;
	top: 0;
	width: 200px;
	height: 43px;
	/*border: 1px solid black;*/
	background-color: #62a8d1;
	cursor: pointer;
}
.image, .selectImg{
	position: absolute;
	top: 0;
	width: 40px;
	height: 40px;
}
.welcome{
	width: 170px;
	height: 20px;
	/*border: 1px solid black;*/
    font-size: 14px;
	color: white;
	text-align: center;
}
.username{
	width: 170px;
	height: 23px;
	/*border: 1px solid black;*/
	font-size: 15px;
	text-align: center;
	line-height: 23px;
	color: white;
}
.selectImg{
	position: absolute;
	top: 12px;
	right: 10px;
	width: 15px;
	height: 15px;
	/*border: 1px solid black;*/
}
.userSelectedBox{
	position: absolute;
	top: 43px;
	right: 19px;
	width: 200px;
	height: 91px;
	border: 1px solid #438eb9;
	display: none;
	background-color: #62a8d1;
}
.abox1, .abox2{
    position: relative;
	top: 8px;
	width: 200px;
	height: 38px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #fff;
}
.firstPageImg{
	position: absolute;
	top: 10px;
	left: 65px;
	width: 15px;
}
.text1{
	position: absolute;
	top: 8px;
	left: 84px;
	font-size: 14px;
	color: #333;
}
.allLeft{
	position: fixed;
	top: 45px;
	left: 0px;
	width: 186px;
	height: 95%;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	overflow: hidden;
	/*overflow-y:scroll; */
}

.dl{
	width: 186px;
}
.dt1, .dt2, .dt3, .dt4, .dt5{
	position: relative;
	width: 186px;
	height: 39px;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	line-height: 39px;
	color: #585858;
	margin-top: -1px;
	margin-left: -1px;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
}
.computingImg, .personalInforImg, .directionalInforImg, .computingInforImg, .user{
	position: absolute;
	top: 8px;
	left: 30px;
	width: 25px;

}
.selected2Img1, .selected2Img2, .selected2Img3, .selected2Img4, .selected2Img5{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 10px;
}
.dd{
    width: 186px;
    background-color: #fff;
    /* border: 1px solid red; */
    /*display: none;*/
}
.aLevel{
    text-decoration: none;
}
.item{
	border-top: 1px dotted #e5e5e5;
}
.item1, .item{
	width: 186px;
	height: 36px;
	background-color: #fff;
	color: #757575;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}

.allRight{
	position: absolute;
	top: 45px;
	left: 187px;
	width: 86%;
    height: 900px;
}